@charset "EUC-KR";

section {
	background: url('../image/ASRS-logo.png');
	background-repeat : no-repeat;
	background-size: contain;
	background-position: center;
  	height: 700px;
  	border: none;
	position: relative;
	margin: auto;
	
}
